#interesting{
	display: flex;
	justify-content: space-between;
}

.content{
	padding:1%;
	border-radius: 10px;
	background: black;
}

@media screen and (max-width: 950px) {
    #interesting {
        display: block;
    }

    .content {
        width: 100%;
        margin-top: 10px;
        background:#151515;
    }

    #memes{
        min-width: 300px;
    }
}