.circular-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.circular-progress {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: conic-gradient(#94692D 0%, #e6e6e6 100%);
}

.circular-progress-inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.progress-text {
    font-size: 18px;
    font-weight: bold;
    color: #d3d3d3;
}
